<div class="col-md-4 col-md-offset-4" *ngIf="showLoading">Aguarde...</div>
<div class="col-md-8 col-md-offset-2" *ngIf="!showLoading">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{errorMessage}}</div>
    <div class="panel panel-default">
        <div class="panel-heading">Add Post</div>
        <div class="panel-body">
            <form ngForm>
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" required placeholder="Title" [(ngModel)]="post.title">
                </div>
                <div class="form-group">
                    <label for="text">Text</label>
                    <textarea rows=10 cols=100 class="form-control" id="text" [(ngModel)]="post.body"></textarea>
                </div>
                <button type="submit" class="btn btn-default pull-right" (click)="onClick($event)">Create</button>
            </form>
        </div>
    </div>
</div>